@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  min-width: 320px;
  font: 16px system-ui, sans-serif;
  background: hwb(262 6% 86%);
  color: #fff;
}

body {
  overscroll-behavior-y: none;
}

a:hover {
  text-decoration: underline;
}